<div class="forgot_wr">



  <div class="forgot_card">

    <div class="menu_div">

      <div class="mn">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>language</mat-icon>Language
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Tamil</button>
          <button mat-menu-item>English</button>
        </mat-menu>

      </div>

    </div>


    <div class="rr">
      <mat-grid-list cols="1" rowHeight="85px">
        <mat-grid-tile [colspan]="1" [rowspan]="2"><img class="logo" src="/assets/images/logo1.png">
        </mat-grid-tile>

        <mat-grid-tile>
          <div style="display: flex">
            <h1>Forgot Password</h1>
          </div>
        </mat-grid-tile>


        <form>

          <mat-grid-tile colspan="1" *ngIf="otp == '' && !isValidate ">
            <mat-form-field color="warn" appearance="outline">
              <mat-label>User name</mat-label>
              <input matInput name="username" required placeholder="Enter User Name" autocomplete="off" [(ngModel)]="userName" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" *ngIf="otp !== ''">
            <mat-form-field color="warn" appearance="outline">
              <mat-label>Enter OTP</mat-label>
              <div id="divOuter">
                <div id="divInner">
                  <input matInput id="partitioned" type="text" maxlength="4" autocomplete="off" name="validateotp"
                    [(ngModel)]='validateotp' />
                </div>
              </div>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" *ngIf="isValidate">
            <mat-form-field color="warn" appearance="outline">
              <mat-label>Enter New Password</mat-label>
              <div id="divOuter">
                <div id="divInner">
                  <input matInput type="password" name="password" required placeholder="Enter New Password"
                    autocomplete="off" [(ngModel)]="password" />
                </div>
              </div>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" *ngIf="isValidate">
            <mat-form-field color="warn" appearance="outline">
              <mat-label>Re Enter Password</mat-label>
              <div id="divOuter">
                <div id="divInner">
                  <input matInput type="password" name="repassword" required placeholder="Re Enter Password"
                    autocomplete="off" [(ngModel)]="repassword" />
                </div>
              </div>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile><button mat-raised-button color="primary" (click)="backToLogin()" class="btn_rad_clr">Back
            to Login</button><button mat-raised-button color="primary" *ngIf="otp == '' && !isValidate" class="btn_rad_clr"
              (click)="getOtp()">GET
              OTP</button><button mat-raised-button *ngIf="otp !== '' " color="primary" class="btn_rad_clr" (click)="validateOtp()">Validate
              OTP</button><button mat-raised-button *ngIf="isValidate" color="primary" class="btn_rad_clr" (click)="changePassword()">Change
              Password</button>
          </mat-grid-tile>
          <mat-grid-tile><span *ngIf="otp == ''  && !isValidate" class="note"> * OTP will send to your registered
              mobile number.</span></mat-grid-tile>

        </form>

      </mat-grid-list>

    </div>

  </div>
</div>