$my_blue:#3d3780;
$my_bg_blue:#2f296b;
$bt_clr:#00f9a6;
.forgot_card{
    margin: 0em;
    background: $my_blue;
    height: 100vh;
    color: #fff
}
.btn_rad_clr{
background: $bt_clr;
margin-right: 5px;
}
.rr{
}
@media screen and (max-width:360px){
    .forgot_card{
        height: 100vh;
        width: 100%;
        margin-top: 2em;
        margin: 0em;

    
    }
}
md-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu_div{
    display: flex;
    justify-content: flex-end;
  }

  .logo{
    width: 6em;
    margin-top: 12px;
    background: #fff;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 15px;
}
.note{
    font-size: 10px;
    color: red;
    display: block;
    clear: both;
}
#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width:220px;
  }
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width:190px; 
    overflow:hidden
  }