$my_blue:#3d3780;
$my_bg_blue:#2f296b;
$bt_clr:#00f9a6;

.user_register {
    margin: 0em;
    background: $my_blue;
    height: 100vh;
    color: #fff
}

.btn_rad_clr {
    //background: $bt_clr;
    color: #ffffff;
}
.hide{
    visibility: hidden;
}
.register {
    margin: 50px auto;
    width: 380px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(50, 50, 50, 0.33);
    background-color: rgba(110, 120, 100, 0.4);
    border-radius: 4px;
input[required]::after{
content: "*"
}
    .footer {
        background: #000000;
        line-height: 48px;
        margin-left: -4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        clear: both;
    }

    form {
        margin: 0 0px 0 4px;

        input[type=radio] {
            min-width: auto;
        }

        .action-btn {
            clear: both;
            margin: 7px 0;
            float: left;
            width: 100%;
            .arrow {
                background: #428bca;
                padding: 3px 7px;
                border-radius: 4px;               
                font-size: 12px;
                cursor: pointer;
                &.next {
                    float: right;
                    margin-right: 10px;
                }
                &.prev {
                    float: left;
                    margin-left: 10px;
                }
            }
        }
    }
}

.register h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 7px 12px;
    padding: 7px 0;
    color: #69aa46;
    border-bottom: 1px solid #69aa46;
}

.text-center {
    text-align: center
}

.logo {
    background: #fff;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-right: 10px;
}

.register form .page>div {
    display: block;
    padding: 7px;
    clear: both;
}

.register form input,
.register form select,
.register form input+span {
    line-height: 24px;
    border-radius: 4px;
    padding: 3px;
    font-size: 13px;
    min-width: 190px;
}

.register form select {
    min-width: 198px;
    padding: 8px 0;
}

.register label {
    margin-right: 5px;
    padding-right: 4px;
    display: inline-block;
    width: 150px;
    font-size: 13px;
    font-weight: 600;
}

.mat-toolbar {
    background: #070050;
}

.register label::after {
    content: ":";
    padding-left: 3px;
}