<div class="home_wrapper" >

  <div class="dash_wr">
 
      <mat-card class="c1"><div class="inner_cd"><div class="inner_cd_left"><img class="icon_prop" src="assets/images/farmer.svg"> </div><div class="inner_cd_right"><span>Farmers</span><div>{{DashboardData.farmer}}</div></div></div></mat-card>
      <mat-card class="c2"><div class="inner_cd"><div class="inner_cd_left"><img class="icon_prop" src="assets/images/group.svg"></div><div class="inner_cd_right"><span>FPO</span><div>{{DashboardData.fpo}}</div></div></div></mat-card>
      <mat-card class="c3"><div class="inner_cd"><div class="inner_cd_left"><img class="icon_prop" src="assets/images/fertilizer.svg"></div><div class="inner_cd_right"> <span>ULB</span><div>{{DashboardData.ulb}}</div></div></div></mat-card>
      <mat-card class="c4"><div class="inner_cd"><div class="inner_cd_left"><img class="icon_prop" src="assets/images/get-money.svg"></div><div class="inner_cd_right"><span>Today Orders</span><div>{{DashboardData.orders}}</div></div></div></mat-card>
      <!-- <mat-card class="c5"><div class="inner_cd"><div class="inner_cd_left"><img class="icon_prop" src="assets/images/choices.svg"></div><div class="inner_cd_right"><span>Payment Pending</span><div>9807</div></div></div></mat-card> -->


  </div>
  


</div>